body {
    /* background-color: #B2A59B; */
    background-color: #607274;
    background-image: url(/img/pic-1.jpg);
    background-size: contain;
    color: #FAEED1;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    padding: 1rem;
}

.title {
    background-color: antiquewhite;
    color: rgb(107, 197, 164);
    font-size: 3rem;
    text-align: center;
    border-radius: 5px;
    margin: 24px 4px 9px;
    padding: 6px;
}

#post-form {
    text-align: center;
}

form {
    text-align: center;
    width: 50%;
    background-color: #E4DEBE;
    background-image: url(/img/pic-1.jpg);
    background-size: cover;
    color: #607274;
    padding: 1rem 0;
    border-radius: 1rem;
    margin: 6px auto;
}

#info {
    background-color: #4F6F52;
    color: #D2E3C8;
}

input,
textarea,
label,
button {
    text-align: center;
    margin: 12px 0;
    font-size: 24px;
    border-radius: 5px;
}

button {
    background-color: aqua;
    width: 100px;
}

a {
    color: aliceblue;
}

a:hover {
    color: greenyellow;
}

a:active {
    color: #ff1e00;
}
.eng-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sub-title {
    display: inline-block;
    text-align: start;
    /* background-color: #607274; */
    background-color: #B2A59B;
    color: #FAEED1;
    /* 1rem 16px */
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: black 2px solid;
    padding-left: 12px;
    border-radius: 4px;
    margin: 12px 0;
}



.slogan {
    background-color: rgb(60, 255, 0);
    color: #e61414;
    font-size: 20px;
}

#container {
    padding: 1rem;
 }

.image {
    background-color: rgb(230, 224, 224);
    padding: 12px;
    width: 28%;
}

#photo {
    text-align: center;
    background-color: #6DA4AA;
    border-radius: 2rem;
    padding: 24px 0;
}
            
table {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    border: 3px black solid;
}

thead {
    background-color: #668a8e;
    color: aliceblue;
}

tbody {
            background-color: rgb(37, 232, 232);
            color: rgb(81, 160, 163);
        }

td:first-child {
            background-color: #e61414;
            color: azure;
        }

td:nth-child(3) {
    background-color: #e61414;
    color: azure;
}

#video {
    text-align: center;
}

@media screen and (max-width:1024px) {
    textarea {
        width: 80%;
    }

    form {
        width: 80%;
        font-size: 12px;
    }

}

@media screen and (max-width:768px) {
    textarea {
        width: 100%;
    }

    form {
        width: 100%;
        font-size: 12px;
    }

}